<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
	<link rel="stylesheet" type="text/css" media="screen" href="Chat.css" >
	<script defer src="chat.js"></script>
</head>
<body>
    <div id="chat-container">
        <div id="search-container">
        	<input type="text" placeholder="Search" >

        </div>
        <div id="conversation-list">
        	<div class="conversation active">
        		<img src="img/avatar.png" alt="jude">
        		<div class="title-text">
        			Room 001
        		</div>
        	</div>

        	<div class="conversation">
        		<img src="img/avatar.png" alt="jude">
        		<div class="title-text">
        			Room 002
        		</div>
        		
        	</div>

        	<div class="conversation">
        		<img src="img/avatar.png" alt="jude">
        		<div class="title-text">
        			Room 003
        		</div>
        		
        	</div>

        	<div class="conversation">
        		<img src="img/avatar.png" alt="jude">
        		<div class="title-text">
        			Room 004
        		</div>
        		
        	</div>

        </div>
        <div id="new-message-container">
        	<a href="#">+</a>

        </div>
        <div id="chat-title">
            

        </div>
        <div id="chat-message-list">
        	
		

        </div>
        <div id="chat-form">
        	<input type="text" placeholder="type a message" id="chat-box"/>
			<button class="submit"><i class="materal-icons">send</i></button>

        </div>


    </div>
</body>
</html>